body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav.navbar.bg-dark
{
  background-image: linear-gradient(to left, rgba(130, 127, 127) , rgb(53, 53, 53));
  /* background-color: rgb(128, 128, 128); */
  font-family: 'Scope One', serif;
  font-weight: 400;
}

nav .collapse .nav-item .nav-link
{
    color: rgb(255, 255, 255);
    
}

nav .collapse .nav-item .nav-link:hover
{
    font-weight: 800;
}
nav .collapse .nav-item .nav-link.act
{
    font-weight: 800;
}

/* icons */
i{
  cursor: pointer;
}